---
---


$cheat-sheet-red: #D3360B;
$navbar-default-bg: $cheat-sheet-red;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-brand-hover-color: white;


@import "vendor/bootstrap";


body {
  font-size: 15px;
  line-height: 1.5;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
  margin-top: 60px;
}

a {
  color: #F3360B;
}
a:hover {
  color: #BE360B;
}

a:visited {
  color: #BE360B;
}

.navbar a {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 20px;
}

.navbar a.cheat-sheet-brand {
  font-size: 25px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 540px;
}

header h2 {
  font-size: 26px;
  color: lightgray;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  overflow-wrap: normal;
  word-break: normal;
  white-space: nowrap;
}

code {
  color: #F3360B;
}

pre code {
  color: #F3360B;
}

ul, ol, dl {
  margin-bottom: 20px;
}

th.hash-example {
  width: 280px;
}

th.erb-example {
  width: 210px;
}

/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
}

h1:before,h2:before,h3:before,h4:before,h5:before,h6:before {
  color: #F3360B;
  padding-right: 0.3em;
}

#main-content h1:before {
  content: "/";
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
}
#main-content h2:before {
  content: "//";
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
}

#main-content h3:before {
  content: "///";
  margin-left: -2em;
}

#main-content h4 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #474747;
}

h4:before {
  content: "////";
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 14px;
  color: #474747;
}
h5:before {
  content: "/////";
  margin-left: -3.2em;
}

#main-content h6 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: .8em;
  color: #474747;
}
h6:before {
  content: "//////";
  margin-left: -3.7em;
}

/* Footer
-------------------------------------------------- */

footer {
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer-constrain {
  text-align: center;
}
.footer-links {
  margin: 10px 0;
  padding: 0px;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

.navbar-inner {
  background-color: #D3360B;
  background-image: linear-gradient(to bottom, #BE360B, #F3360B);
  border: 1px solid #B82908;
}

.navbar .brand, .navbar .nav > li > a{
  color: white;
  text-shadow: 0 1px 0 #BE360B;
}

.dropdown-menu {
  top: 95%;
}