/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
  margin-top: 60px;
}

a {
  color: #F3360B;
}
a:hover {
  color: #BE360B;
}

a:visited {
  color: #BE360B;
}

.navbar a {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 20px;
  padding: 10px 5px;
}

.navbar a.brand {
  font-size: 25px;
  padding: 2px 20px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 540px;
}

header h2 {
  font-size: 26px;
  color: lightgray;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  overflow-wrap: normal;
  word-break: normal;
  white-space: nowrap;
}

code {
  color: #F3360B;
}

pre code {
  color: #F3360B;
}

ul, ol, dl {
  margin-bottom: 20px;
}

th.hash-example {
  width: 280px;
}

/* GENERAL ELEMENT TYPE STYLES */

#main-content h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
} 

h1:before,h2:before,h3:before,h4:before,h5:before,h6:before {
  color: #F3360B;
  padding-right: 0.3em;
}

#main-content h1:before {
  content: "/";
  margin-left: -0.9em;
}

#main-content h2 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  content: "//";
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
#main-content h3:before {
  content: "///";
  margin-left: -2em;
}

#main-content h4 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 15px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  content: "////";
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 14px;
  color: #474747;
} 
h5:before {
  content: "/////";
  margin-left: -3.2em;
}

#main-content h6 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: .8em;
  color: #474747;
} 
h6:before {
  content: "//////";
  margin-left: -3.7em;
}
